* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*
background-image: url(./assets/bg-mobile.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;*/

/*Abixo temos todo o cod acima agrupado (atalho ou short-rend)*/
/* ordem da estrutura: background color image repeat position/size*/

    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;



}
:root { /*Esse comando representa a crição de uma variavel para ser chamada*/
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
     --surface-color: rgba(255, 255, 255, 0.05);
     --surface-color-hover: rgba(0, 0, 0, 0.02);
     --highlight-color: rgba(255, 255, 255, 0.096);
     --switch-bg-url: url(./assets/moon-stars.svg);

}
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}
body * { /* aqui temos o seletor universal*/
      font-family: "Inter", sans-serif;
      color: var(--text-color);
}
#container {
    width: 100%;
    max-width: 588px;
   /* border: 1px red solid; Boa prática, acrescentar borda para entender o que está 'acontecendo'*/
    /* margin: auto; existe uma regra no css que não aplica automaticamente na parte superior e inferior*/
    margin: 56px auto 0px;
    padding: 0 24px;
}
/*Switch*/
#switch {
    position: relative; /* esse comando restringe a atuação da posição nos itens dentro dele em Z-INDEX*/
    width: 64px;
    margin: 4px auto;
}
#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute; /*esse comando trata-se da função sobrepor*/
    top: 50%;
    z-index: 1;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;

    animation: slide-back 0.5s;

}
.light #switch button {
    animation: slide-in 0.5s forwards; /*aqui está sendo aplicado o efeito criado- efeito/tempo de execução/regra de permanecia*/
}
#switch button:hover {
    outline: 8px solid var(--highlight-color);
}
#switch span { /* o span por padrão e inline sendo assim nao aceita largura*/
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}
/*Profile*/
#profile {
    padding: 24px;
    text-align: center; /*aqui estamos aplicando a regra no 'pai' para os seguintes obdecerem com a esseção para o DISPLAY BLOCK*/
}
#profile img{
    width: 112px; /* Em css 'geralmente' não e necessario definir a altura pois a altura segue o conteudo */
    /*margin: auto; Em elementos inline não é possivel aplicar a MARGIN AUTO*/
}
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
/*Links*/
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    
    padding: 24px 0;

}
ul li a {
   /* border: 1px red solid;*/

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /*Açção para compatibilidade em outros navegadores*/

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}
/*pseudo-selector*/
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}
/*Social links*/
#social-links {
    display: flex;

    justify-content: center;

    padding: 24px 0;

    font-size: 24px;
}
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}
#social-links a:hover {
    background: var(--highlight-color);
    
    font-size: 50px;  /*Alteração pessoal */
}
footer{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*media queries*/
@media (min-width: 700px){
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}
/*animation- Criando uma animação (efeito de deslize para a transição do botão*/
@keyframes slide-in {
    from { /*Inicio, onde começa*/
        left: 0;
    }
    to {/*Fim, onde termina*/
        left: 50%;
    }
}
@keyframes slide-back {
    from {
        left: 50%;
    }
    to{
        left: 0;
    }
}
    